.LimitInfoContainer{
    position: absolute;
    top : 10px;
    right : 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 6px;
    border : 1px solid #eee;
    padding: 10px;
}
.LimitInfoTitle{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:5px;
}
.LimitInfoItem{
    text-align: right;
}

.LimitInfoItem > span{
    font-weight: bold;
    color: crimson;
}