html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 11px;
  overflow: hidden;
}
#root{
  height: 100%;
}
.failMsg {
  position: absolute;
  top:0;
  left:0;
  right : 0;
  bottom : 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
